@{
    ViewBag.Title = "Afisare persoane cu numele " + ViewBag.SearchedName;
}

<h2>@ViewBag.Title</h2>

@foreach (TheFacebook.Models.Person person in ViewBag.people)
{
    <div class="panel panel-default">
        <div class="panel-heading">@person.PersonId</div>
        <div class="panel-heading">
            @person.Username
            <a class="btn btn-sm btn-success" href="/Person/Show/@person.PersonId">Afisare profil</a>
        </div>
    </div>
    <br />
    <br />
}